<body>
  <div class="page home">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2 class="page-title">
            <img class="iconn" src="assets\icons\checklist.png">
            <span style="font-size: xx-large;"> Task List App </span>
          </h2>
        </div>
      </div>

      <div class="row mt-4" style="width: 1150px; margin-left: -30px;">
        <div class="col-md-12 mb-5">
          <mat-card class="d-flex" style="padding-bottom: 60px;border-bottom: solid 1px rgba(0, 0, 0, 0.623);">
            <div class="example-container ">
              <h1> Günlük Planlarım</h1>
              <form [formGroup]="angularForm" novalidate>
                <mat-form-field color="accent" class="example-full-width ">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" #date>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button type="submit" class="btn btn-success btn-sm addBtn" (click)="gunKaydet(date)">Kaydet</button>
              </form>
              <div class="example-list-extended mt-4">

                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Günlük Görev Giriniz.." #newTaskDaily>
                  </mat-form-field>
                  <button type="submit" (click)="addToDoDaily(newTaskDaily)"
                    class="btn btn-primary addBtn">Ekle</button>
                </form>
                <h2 class="hh2">
                  <!-- <mat-icon>event</mat-icon> {{date.value}} -->
                  <mat-icon>event</mat-icon> {{data.tarihGun}}
                </h2>

                <div class="example-box" *ngFor="let item of data.gunlukIsler">
                  <img class="pinicon" src="assets\icons\pin.png">
                  <span class="todo-title">
                    <button mat-icon-button color="accent" (click)="taskDoneDaily(item)">
                      <mat-icon>add_task</mat-icon>
                    </button>
                    {{item}}</span>
                  <div class="button2">
                    <button mat-icon-button color="primary" (click)="deleteDailyTask(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </div>
              </div>

            </div>

            <div class="example-container">
              <h1> Haftalık Planlarım</h1>
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker1">
                  <input matStartDate placeholder="Start date" #startDate>
                  <input matEndDate placeholder="End date" #endDate>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-date-range-picker #picker1></mat-date-range-picker>
              </mat-form-field>
              <button type="submit" class="btn btn-success btn-sm mb-3 addBtn"
                (click)="haftaKaydet(startDate,endDate)">Kaydet</button>
              <div class="example-list-extended mt-2">
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Haftalık Görev Giriniz.." #newTaskWeekly>
                  </mat-form-field>
                  <button type="submit" (click)="addToDoWeekly(newTaskWeekly)"
                    class="btn btn-primary addBtn">Ekle</button>
                </form>
                <h2 class="hh2">
                  <!-- <mat-icon> date_range </mat-icon> {{startDate.value}} - {{endDate.value}} -->
                  <mat-icon> date_range </mat-icon> {{data.haftaBaslangic}} - {{data.haftaBitis}}
                </h2>

                <div class="example-box" *ngFor="let item of data.haftalikIsler">
                  <img class="pinicon" src="assets\icons\pin.png">
                  <span class="todo-title">
                    <button mat-icon-button color="accent" (click)="taskDoneWeekly(item)">
                      <mat-icon>add_task</mat-icon>
                    </button>
                    {{item}}</span>
                  <div class="button2">
                    <button mat-icon-button color="primary" (click)="deleteWeeklyTask(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="example-container">
              <h1> Aylık Planlarım</h1>
              <form class="example-form">
                <mat-form-field class="tarih" appearance="fill">
                  <input matInput placeholder="Tarih Giriniz (Ör: Ocak 2022)" #tarih>
                </mat-form-field>
                <button type="submit" (click)="ayKaydet(tarih)"
                  class="btn btn-success addBtn mb-3 btn-sm">Kaydet</button>
              </form>

              <div class="example-list-extended mt-2">
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Aylık Görev Giriniz.." #newTaskMonth>
                  </mat-form-field>
                  <button type="submit" (click)="addToDoMonth(newTaskMonth)"
                    class="btn btn-primary addBtn">Ekle</button>
                </form>
                <h2 class="hh2">
                  <mat-icon> date_range </mat-icon>{{data.tarihAy}}
                </h2>

                <div class="example-box" *ngFor="let item of data.aylikIsler">

                  <img class="pinicon" src="assets\icons\pin.png">
                  <span class="todo-title">
                    <button mat-icon-button color="accent" (click)="taskDoneMonth(item)">
                      <mat-icon>add_task</mat-icon>
                    </button>
                    {{item}}</span>
                  <div class="button2">
                    <button mat-icon-button color="primary" (click)="deleteMonthTask(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </mat-card>

          <div class="col-md-12 mb-5">
            <mat-card class="d-flex" style="padding-bottom: 70px">
              <div class="example-container">
                <h2> TAMAMLANANLAR</h2>
                <div class="example-list-extended mt-2">
                  <h2 class="hh2">
                    <mat-icon>event</mat-icon> {{data.tarihGun}}
                  </h2>
                  <div class="example-box" *ngFor="let item of data.isCompletedDaily">
                    <button mat-icon-button color="primary">
                      <mat-icon>task_alt</mat-icon>
                    </button>
                    <span class="todo-title"> <del>{{item}}</del></span>
                    <div class="button">
                      <button mat-icon-button color="warn" (click)="deleteDoneDaily(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                  </div>
                </div>
              </div>

              <div class="example-container">
                <h2>TAMAMLANANLAR</h2>
                <div class="example-list-extended mt-2">
                  <h2 class="hh2">
                    <mat-icon> date_range </mat-icon> {{data.haftaBaslangic}} - {{data.haftaBitis}}
                  </h2>

                  <div class="example-box" *ngFor="let item of data.isCompletedWeekly">
                    <button mat-icon-button color="primary">
                      <mat-icon>task_alt</mat-icon>
                    </button>
                    <span class="todo-title"> <del>{{item}}</del></span>
                    <div class="button">
                      <button mat-icon-button color="warn" (click)="deleteDoneWeekly(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="example-container">
                <h2> TAMAMLANANLAR</h2>
                <div class="example-list-extended mt-2">
                  <h2 class="hh2">
                    <mat-icon> date_range </mat-icon>{{data.tarihAy}}
                  </h2>

                  <div class="example-box" *ngFor="let item of data.isCompletedMonth">
                    <button mat-icon-button color="primary">
                      <mat-icon>task_alt</mat-icon>
                    </button>
                    <span class="todo-title">

                      <del>{{item}}</del>
                    </span>
                    <div class="button">
                      <button mat-icon-button color="warn" (click)="deleteDoneMonth(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
          <p>NOT: Girilen tarihi silmek veya sıfırlamak için tarih inputları boşken Kaydet'e basınız.</p>
        </div>
      </div>
    </div>
  </div>
</body>